<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name='minimumLogLevel' value='Info'/>

    <targets>
        <target name="logconsole" xsi:type="Console"
          layout="${longdate} | ${level} | ${callsite:includeSourcePath=False:includeNamespace=False}@${callsite-linenumber}: ${message}"/>
    </targets>

    <rules>
        <logger name="*" minlevel="${var:minimumLogLevel}" writeTo="logconsole" />
    </rules>
</nlog>